//---------------------------------------------------------------------------
//
// Name:        chessApp.rc
// Author:      gurkesaft
// Created:     6/23/2007 3:18:50 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
